SECRET_KEY=troque-esta-chave
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
# Para PostgreSQL, descomente/configure:
# POSTGRES_DB=barbearia
# POSTGRES_USER=barbearia
# POSTGRES_PASSWORD=senha-forte
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
